<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medical | Talvasa xurujli bemorlar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- font-awesome  -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script src="/static/assets/js/jquery-3.6.1.min.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="load-spinner">
      <div class="p-1 spinner-grow text-danger" role="status">
        <span class="visually-hidden">Kutilmoqda...</span>
      </div>
      <div class="p-3 spinner-grow text-warning " role="status">
        <span class="visually-hidden ">Kutilmoqda...</span>
      </div>
      <div class="p-4 spinner-grow text-info" role="status">
        <span class="visually-hidden">Kutilmoqda...</span>
      </div>
    </div>
  
    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="/static/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Medical</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <div class="container">
      <div class="row" style="float: right;">
        <div class="col">
          <form action="" method="post">
           
            <a type="button" class="btn btn-outline-danger" href="#">Chiqish</a>
            
        </form>
        </div>
      </div>
    </div>

  </header><!-- End Header -->
  

</ul>

  <style>
     .msg{
        position: fixed;
        top: 80px;
        right: 0;
        width: 30%;
        animation: run 1s linear ;
        z-index: 100;
      }
      @keyframes run {
      from{ 
          transform: translateX(500px);   
      }
      to{
          transform: translateX(-8px);   
      }
}
    .nav-item:hover a{
      transform: scale(1.2);
    }
    .nav-item:hover i{
      margin-left: 20px;

    }
    .load-spinner{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;      
    }
    
  </style>
  


  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed " href="{% url 'home' %}">
          <i class="bi bi-grid"></i>
          <span>Asosiy sahifa </span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'register' %}">
          <i class="bi bi-person-plus-fill"></i>
          <span>Ro'yhatga Olish </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'tables_all' %}">
          <i class="bi bi-people-fill"></i>
          <span>Umumiy Ro'yxat</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'comingtype' %}">
          <i class="bi bi-person-dash"></i>
          <span>Talvasa xurujli bemorlar</span>
        </a>
      </li>
     
        
        </ul>
      </li><!-- End Forms Nav -->

      <!-- End Tables Nav -->


      <!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->


  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Talvasa xurujli bemorlar ro`yxati</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Asosiy sahifa</a></li>
          <li class="breadcrumb-item active">Talvasa xurujli bemorlar ro`yxati</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
<section class="section dashboard">
   <div class="table-responsive">
  <input class="form-control" id="myInput" type="text" placeholder="Qidiruv">
  <br>
  <table class="table table-bordered table-hover ">
    <thead>
      <tr>
        <th>#</th>
        <th>Ism-Familyasi</th>
        <th>Talvasa xuruji</th>
        <th>Dori</th>
        <th>Dori miqdori</th>
        <th>Ro`yxatga kiritilgan vaqti</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for x in data %}
      <tr>
        <td>1</td>
                      <td>{{x.username}}</td>
                      <td>
                        bor 
              
                      </td>
                      <td>{{x.dori_name}}</td>
                      <td>{{x.dori_miqdor}}</td>
                      <td>{{x.date_times|date:'Y-m-d'}} | {{x.date_times|time:"h:i"}}</td>
      </tr>
      {% endfor %}

     

    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

  </main><!-- End #main -->
  <footer id="footer" class="footer mt-5">
    <div class="copyright">
      &copy; Dastur <strong><span><a href="https://www.instagram.com/j.torajonov"> Techmasters Team</a></span></strong>.tomonidan yaratildi
    </div>
   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/assets/vendor/quill/quill.min.js"></script>
  <script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>
  

  <script>

  </script>
  <script>
    $('ul.messages-attendance').hide()


    const spinner = document.querySelector(".load-spinner");
    window.addEventListener('load', () => {
      spinner.style.opacity = '0';
      
      setTimeout(() => {
        spinner.style.display = 'none';
      }, 200)

    });

    
    var barcode = '';
    var interval;
    document.addEventListener('keydown', function(evt) {
        
        if (interval)
        clearInterval(interval);
        
        if (evt.code == 'Enter') {
            if (barcode)
                handleBarcode(barcode);
            barcode = '';
            return;
        }
        
        if (evt.key != 'Shift')
            barcode += evt.key;
        interval = setInterval (() => barcode = '', 20);

    });

    function handleBarcode(scanned_barcode) {
        var client_id = scanned_barcode
        $.ajax({
          url: `/client_barcode_came/${scanned_barcode}`,
          type: "GET",
          data: {},
          success: function(response){
            $('ul.messages-attendance').show()
            $('span.message-barcode').html(response['status'])
          }
        })
    }
  </script>
  
  

</body>

</html>