
{% if is_have == 'bor' %}
<title></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


<center  class="my-5">
  <div class="d-flex align-items-start justify-content-center">


  <canvas id="chartId" aria-label="chart" style="box-sizing: content-box !important;"></canvas>


  <div  class="d-flex flex-column align-items-start">
    <h2>    Sizning natijangiz <span class="text-success">{{is_bor.count_score}}%  </span>

    </h2>
    <p>Siz {{is_bor.time}} soniyada ishladingiz  


    </p>

    <div>



<style>
  .my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
</style>


<div class="table-wrapper-scroll-y my-custom-scrollbar" >
      <table  class="table">
          
     
        <thead>
          <tr>
            <th scope="col">Rating</th>
            <th scope="col">User</th>
            <th scope="col">Score</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody  class="table-bordered table-striped mb-0" >
          {% for x in   filter %}
          {% if x.0.user == request.user %}
          <tr class="table-Success">
            <th scope="row">{{x.1}}</th>
            <td >{{x.0.user}}</td>
            <td>{{x.0.count_score}}</td>
            <td>{{x.0.time}}</td>

          </tr>
          {% else %}
          <tr>
            <th scope="row">{{x.1}}</th>
            <td >{{x.0.user}}</td>
            <td>{{x.0.count_score}}</td>
            <td>{{x.0.time}}</td>
          </tr>

          {% endif %}
          
          {% endfor %}
        </tbody>
       
      
      </table>
  </div>


    </div>

  



    
  </div>


</div>
</center>


<!-- {{id.using_users.all}} -->
{% for x in id.using_users.all %}
  {{x}}
{% endfor %}





<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
   var chrt = document.getElementById("chartId").getContext("2d");
   var chartId = new Chart(chrt, {
      type: 'pie',
      data: {
         labels: ["To'gri javob", "Noto'gri javob", "Ishlanmagan savollar", ],
         datasets: [{
            // label: "online tutorial subjects",
            data: ['{{is_bor.true}}', '{{is_bor.false}}', Number('{{is_bor.quiz.quetions_list.all|length}}') - Number('{{is_bor.using_count}}')   ],
            backgroundColor: [ 'lightgreen', 'red', 'lightblue'],
            hoverOffset: 5
         }],
      },
      options: {
         responsive: false,
      },
   });
</script>



{% else %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
      .data{
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  </style>
</head>

<body>
  
<center class="my-4">
  <div class="d-flex justify-content-center gap-2">
    <p id="time"  class="btn btn-primary">{{id.duraction_time}}</p> <p id="sekund" class="btn btn-primary">60</p>
  </div>

</center>


<div id="forms"> 



{% for x in data %}

<form class="data"  action="{{x.random_url}}" id="dshdf" method="GET" >
  

  <div class="col-12 d-flex justify-content-center">
    <h3> {{x.title}}</h3>
   
  </div>

<input id="a" style="display: none;" onchange="get_data( this.parentElement.getAttribute('action') , this )" name="value" value="a" type="radio">
<input id="b" style="display: none;" onchange="get_data( this.parentElement.getAttribute('action') , this )" name="value" value="b" type="radio">
<input id="c" style="display: none;"onchange="get_data( this.parentElement.getAttribute('action') , this )" name="value" value="c" type="radio">
<input id="d" style="display: none;"onchange="get_data( this.parentElement.getAttribute('action') , this )" name="value" value="d" type="radio">


<label class="btn btn-primary col-11 col-xl-5  text-start" for="a">A : {{x.a}}</label>
<label class="btn btn-primary col-11 col-xl-5  text-start" for="b">B : {{x.b}}</label>
<label class="btn btn-primary col-11 col-xl-5  text-start" for="c">C : {{x.c}}</label>
<label class="btn btn-primary col-11 col-xl-5  text-start" for="d">D : {{x.d}}</label>


</form>


{% endfor %}

</div>

<script src="/static/assets/js/jquery-3.3.1.min.js"></script>

<script>


let time = '{{id.duraction_time}}' 
let sekund =  60
let true_ansver = 0
let false_ansver = 0
let using_count =  0
let duraction_time =  0
setInterval(() => {
  duraction_time+=1
}, 1000);


for (const iterator of document.getElementById('forms').children) {
  console.log(iterator.style.display = 'none');
  
}
document.getElementById('forms').children[using_count].style.display = 'flex'


let href = location.href

function get_data (x, y ) {
using_count+=1
setTimeout(() => {

  document.getElementById('forms').children[using_count].style.display = 'flex'
  document.getElementById('forms').children[using_count -1 ].innerHTML = ''
  
}, 1000)


  $.ajax({
  url: `${href}${x}`,
  type: "GET",
  dataType: "json",
  success: (data) => {

    document.getElementById(data['data']).labels[0].style.background = 'green'
   if(data['data'] == y.value){
    true_ansver += 1
   }
   else{
    false_ansver+=1
    y.labels[0].style.background = 'red'

   }
  
if( '{{data|length}}' == using_count ){
let url = location.origin+'/add_result'+`?true=${true_ansver}&false=${false_ansver}&time=${duraction_time}&quiz_id={{id.id}}&using_count=${true_ansver+false_ansver}`
console.log(url);
let req = new XMLHttpRequest( )
req.open('GET', url)
req.send()
setTimeout(() => {
  document.body.innerHTML = `<center>
  <button onclick="location.reload()">Natijani korish</button>
</center>`
}, 1000);



}

  
  },
  error: (error) => {

  }
});

}


let clear_time = setInterval((e) => {
  
  sekund-=1
  document.getElementById('sekund').innerHTML = sekund
  document.getElementById('time').innerHTML = time-1

if(sekund == 0){
    time-=1
    sekund=60
    document.getElementById('time').innerHTML = time

  }
  

}, 1000);


let inter = setInterval(() => {

if( time == 0 ){
clearInterval(clear_time)
let url = location.origin+'/add_result'+`?true=${true_ansver}&false=${false_ansver}&time=${duraction_time}&quiz_id={{id.id}}&using_count=${true_ansver+false_ansver}`
console.log(url);
let req = new XMLHttpRequest( )
req.open('GET', url)
req.send()

document.body.innerHTML = `<center>
  <button onclick="location.reload()">Natijani korish</button>
</center>`

clearInterval(inter)


}


}, 100);




</script>



</body>
</html>


{% endif %}
