{% for x in data %}
  <a href="page/{{x.random_url}}/">Url {{x}}</a>
{% endfor %}







<!-- <canvas id="chartId" aria-label="chart" height="350" width="580"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
<script>
   var chrt = document.getElementById("chartId").getContext("2d");
   var chartId = new Chart(chrt, {
      type: 'pie',
      data: {
         labels: ["HTML", "CSS", "JAVASCRIPT", "CHART.JS", "JQUERY", "BOOTSTRP"],
         datasets: [{
            label: "online tutorial subjects",
            data: [20, 40, 13, 35, 20, 38],
            backgroundColor: ['red', 'aqua', 'pink', 'lightgreen', 'gold', 'lightblue'],
            hoverOffset: 5
         }],
      },
      options: {
         responsive: false,
      },
   });
</script> -->

