<h1>Signup</h1>
<form method="POST">
    {% csrf_token %}

    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
    <button type="submit">Signup</button>
    <a href="{% url 'login' %}">Already have account?</a>
</form>